<!DOCTYPE html>
<html lang="en">
	
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Design By Biswambar</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./res/res.css">  
 	<link rel="stylesheet" href="./css/fonts.css">  
	<link rel="stylesheet" href="./css/font-awesome.css">  
	<link rel="stylesheet" type="text/css" href="./css/jquery.css">  

    <!--Main CSS -->
	<link id="qstyle" rel="stylesheet" href="./css/style.css">
	<!-- End custom CSS here -->
	
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="  pace-done" ng-app="myApp">
  console.log("body")
  <div class="pace  pace-inactive">
  	<div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
  		<div class="pace-progress-inner"></div>
	</div>
		<div class="pace-activity"></div>
  </div>
	<div id="wrapper">
		<div id="main-container">		
			<!-- BEGIN TOP NAVIGATION -->
				<nav class="navbar-top fixed" role="navigation">
					<!-- BEGIN BRAND HEADING -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".top-collapse">
							<i class="fa fa-bars"></i>						</button>
						<div class="navbar-brand">
							<a href="index.html">
								<img src="img/logo.png" alt="logo" class="img-responsive">							</a>						</div>
					</div>
					<!-- END BRAND HEADING -->
					<div class="nav-top">
						<!-- BEGIN RIGHT SIDE DROPDOWN BUTTONS -->
							<ul class="nav navbar-right">
								<li class="dropdown show-on-hover">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
										<i class="fa fa-bars"></i>									</button>
								</li>
								<li class="dropdown show-on-hover">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										M<span class="badge up badge-primary">2</span></a>
											<ul class="dropdown-menu dropdown-scroll dropdown-messages">
												<li class="dropdown-header">
													<i class="fa fa-envelope"></i> 2 New Messages												</li>
												<div style="position: relative; overflow: hidden; width: auto; height: 150px;" class="slimScrollDiv"><li style="overflow: hidden; width: auto; height: 150px;" id="messageScroll">
													<ul class="list-unstyled">
														<li>
															<a href="#">
																<div class="row">
																	<div class="col-xs-2">
																		<img class="img-circle" src="img/user-profile-1.PNG" alt="">																	</div>
																	<div class="col-xs-10">
																		<p>
																			<strong>Devi Panda</strong>Hello welcome to my Dashboard																		</p>
																		<p class="small">
																			<i class="fa fa-clock-o"></i>before time																		</p>
																	</div>
																</div>
															</a>														</li>
														<li>
															<a href="#">
																<div class="row">
																	<div class="col-xs-2">
																		<img class="img-circle" src="img/user-profile-1.jpg" alt="">																	</div>
																	<div class="col-xs-10">
																		<p>
																			<strong>Roddy Austin</strong>: Thanks for the info, if you need anything...																		</p>
																		<p class="small">
																			<i class="fa fa-clock-o"></i> 3:39 PM																		</p>
																	</div>
																</div>
															</a>														</li>
													</ul>
												</li><div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
												<li class="dropdown-footer">
													<a href="#">
														Read All Messages													</a>												</li>
											</ul>
								</li>
								<li class="dropdown show-on-hover">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										A <span class="badge up badge-success">3</span>									</a>
										<ul class="dropdown-menu dropdown-scroll dropdown-alerts">
											<li class="dropdown-header">
												<i class="fa fa-bell"></i> 3 New Alerts											</li>
											<div style="position: relative; overflow: hidden; width: auto; height: 150px;" class="slimScrollDiv"><li style="overflow: hidden; width: auto; height: 150px;" id="alertScroll">
												<ul class="list-unstyled">
													<li>
														<a href="#">
															<div class="alert-icon bg-info pull-left">
																<i class="fa fa-download"></i>															</div>
																Downloads <span class="badge badge-info pull-right">16</span>														</a>													</li>
													<li>
														<a href="#">
															<div class="alert-icon bg-success pull-left">
																<i class="fa fa-cloud-upload"></i>															</div>
																Server #8 Rebooted <span class="small pull-right"><strong><em>12 hours ago</em></strong></span>														</a>													</li>
													<li>
														<a href="#">
															<div class="alert-icon bg-danger pull-left">
																<i class="fa fa-bolt"></i>															</div>
																Server #8 Crashed <span class="small pull-right"><strong><em>12 hours ago</em></strong></span>														</a>													</li>
												</ul>
											</li><div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
											<li class="dropdown-footer">
												<a href="#">
													View All Alerts												</a>											</li>
										</ul>
								</li>
								
								
								<li class="dropdown user-box show-on-hover">
									<a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img class="img-circle" src="img/user.PNG" alt=""> <span class="user-info">Devi PandA</span> <b class="caret"></b>									</a>
										<ul class="dropdown-menu dropdown-user">
											<li>
												<a href="#">
													<i class="fa fa-user"></i> My Profile												</a>											</li>
											<li>
												<a href="#">
													<i class="fa fa-envelope"></i> My Messages												</a>											</li>
											<li>
												<a href="#">
													<i class="fa fa-tasks"></i> My Tasks												</a>											</li>
											<li>
												<a href="#">
													<i class="fa fa-gear"></i> Settings												</a>											</li>											
											<li>
												<a href="#">
													<i class="fa fa-power-off"></i> Logout												</a>											</li>
										</ul>
								</li>
								<!--Search Box-->
								<li class="dropdown nav-search-icon show-on-hover">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Q									</a>
									<ul class="dropdown-menu dropdown-search">
										<li>
											<div class="search-box">
												<form class="" role="search">
													<input class="form-control" placeholder="Search" type="text">
												</form>
											</div>
										</li>
									</ul>
								</li>
								<!--Search Box-->
							</ul>
						<!-- END RIGHT SIDE DROPDOWN BUTTONS -->							
						<!-- BEGIN TOP MENU -->
							<div class="collapse navbar-collapse top-collapse">							</div>
						<!-- END TOP MENU -->
					</div><!-- /.nav-top -->
				</nav><!-- /.navbar-top -->
				<!-- END TOP NAVIGATION -->

				
				<!-- BEGIN SIDE NAVIGATION -->				
				<nav class="navbar-side fixed" role="navigation">
					<div style="position: relative; overflow: hidden; width: 100%; height: 100%;" class="slimScrollDiv"><div style="max-height: 655px; overflow: hidden; width: 100%; height: 100%;" class="navbar-collapse sidebar-collapse collapse">

							
						
						
						<ul id="side" class="nav navbar-nav side-nav">
							<!-- BEGIN SIDE NAV MENU -->							
														
							<li>
								<a href="index.html">
									<i class="fa fa-dashboard"></i> Home								</a>							</li>
							<!-- BEGIN COMPONENTS DROPDOWN -->
							<li class="panel">
								<a aria-expanded="false" href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#components">
									<i class="fa fa-cogs"></i> Components <span class=" arrow"><b class="caret"></b></span>								</a>
									<ul style="height: 0px;" aria-expanded="false" class="nav collapse" id="components">
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Portlets											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Elements <span class="label label-sm label-primary">New</span>											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Tabs &amp; Accordions											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Buttons &amp; Icons											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> JQuery UI											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Nestable Lists											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Calendar											</a>										</li>
										<!-- BEGIN THREE LEVEL MENU -->
										<li>
											<a href="javascript:;" class="accordion-toggle" data-toggle="collapse" data-target="#sub-menu">
												<i class=" fa-angle-double-right"></i> Three Level Menu <span class="arrow"><b class="caret"></b></span>											</a>
												<ul class="collapse nav" id="sub-menu">
													<li>
														<a href="#" title="Title"><i class="fa fa-angle-double-right"></i> item <span class="badge badge-primary">3</span></a>													</li>
													<!-- BEGIN 4th LEVEL MENU -->
													<!--<li>
														<a href="javascript:;" class="accordion-toggle" data-toggle="collapse" data-target="#sub-menu2">
															<i class="fa fa-angle-double-right"></i> 4rth Level <span class="fa arrow"></span>
														</a>
															<ul class="collapse nav" id="sub-menu2">
																<li>
																	<a href="#" title="Title"><i class="fa fa-angle-double-right"></i> item1 </a>
																</li>
																<li>
																	<a href="#" title="Title"><i class="fa fa-angle-double-right"></i> item2</a>
																</li>
															</ul>
													</li>-->
													<!-- END 4th LEVEL MENU -->
												</ul>
										</li>
										<!-- ENDTHREE LEVEL MENU -->
									</ul>
							</li>
						

							
							
							<!-- Navigation category -->
							
							
						
							<!-- END PAGES DROPDOWN -->
							<!-- BEGIN MORE PAGES DROPDOWN -->
							<li class="panel">
								<a aria-expanded="false" href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#m-pages">
									<i class="fa fa-tag"></i> More Pages <span class="arrow"><b class="caret"></b></span>								</a>
									<ul style="height: 0px;" aria-expanded="false" class="nav collapse" id="m-pages">
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Gallery											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Error 404											</a>										</li>
										<li>
											<a href="#">
												<i class="fa fa-angle-double-right"></i> Error 505											</a>										</li>
									</ul>
							</li>
							<!-- END MORE PAGES DROPDOWN -->
						</ul><!-- /.side-nav -->

						
						
						<!--<div class="sidebar-alerts">							
							<div class="alert fade in">
								<span>Sales Report</span>
								<div class="progress progress-mini progress-striped active no-margin-bottom">
									<div class="progress-bar progress-bar-primary" style="width: 36%"></div>
								</div>
								<small>Calculating daily bias... 36%</small>
							</div>
						</div>-->
						
					</div><div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 1px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 482.246px;" class="slimScrollBar"></div><div style="width: 1px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div><!-- /.navbar-collapse -->
				</nav><!-- /.navbar-side -->
				<!-- END SIDE NAVIGATION -->
				

				<!-- BEGIN MAIN PAGE CONTENT -->
				<div class="fixed" id="page-wrapper">
					<!-- BEGIN PAGE HEADING ROW -->
						<div class="row">
							<div class="col-lg-12">
								<!-- BEGIN BREADCRUMB -->
								<div class="breadcrumbs fixed">
									<ul class="breadcrumb">
										<li>
											<a href="#">Home</a>										</li>
										<li><a href="#">Forms</a></li>
										<li class="active">Form Validation</li>
									</ul>
									
									<div class="b-right hidden-xs" style="right:0px">
										<ul>
											<li class="dropdown show-on-hover"><a href="#" title="">Activity</a>
                                            <ul class="dropdown-menu dropdown-primary dropdown-menu-right" style="height:610px;color:#0099CC">
													
                                                    <table width="200">
  <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;menu</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>

  </tr>

    <td><button type="submit" class="btn btn-primary">Add New</button></td>
  
  </tr>
</table>

                                                    
												</ul>
                                            </li>
											<li class="dropdown show-on-hover"><a href="#" title="">Messages</i></a>
                                            <ul class="dropdown-menu dropdown-primary dropdown-menu-right" style="height:610px;color:#0099CC">
													                                                <table width="200">
  <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;menu</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a href="#new1" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
  </tr>

    <td><button type="submit" class="btn btn-primary">Add New</button></td>
  
  </tr>
</table>
												</ul>
                                            </li>
											<li class="dropdown show-on-hover"><a href="#" title="" data-toggle="dropdown">Files</a>
												<ul class="dropdown-menu dropdown-primary dropdown-menu-right" style="height:610px;color:#0099CC">                                                <table width="200">
  <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a class="contact" href="devi.html" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;contact</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a class="contact" href="devi.html" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
    <tr>
    <td>&nbsp;menu</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><a class="contact" href="devi.html" style="padding:0px"><img src="img/downicon.PNG"></a></td>
  </tr>
  </tr>

    <td><button type="submit" class="btn btn-primary">Add New</button></td>
  
  </tr>
</table>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!-- END BREADCRUMB -->
								
								<div class="page-header title">
								<!-- PAGE TITLE ROW -->
									<h1>Form Validation <span class="sub-title">Gather form</span></h1>								
								</div>
								
								<!-- /#ek-layout-button -->	
								<div class="qs-layout-menu">
									<div class="btn btn-gray qs-setting-btn" id="qs-setting-btn">
										<i class="fa fa-cog bigger-150 icon-only"></i>
									</div>
									<div class="qs-setting-box" id="qs-setting-box">
									
										<div class="hidden-xs hidden-sm">
											<span class="bigger-120">Layout Options</span>
											
											<div class="hr hr-dotted hr-8"></div>
											<label>
												<input checked="checked" class="tc" id="fixed-navbar" type="checkbox">
													<span id="#fixed-navbar" class="labels"> Fixed NavBar</span>
											</label>
											<label>
												<input checked="checked" class="tc" id="fixed-sidebar" type="checkbox">
													<span id="#fixed-sidebar" class="labels"> Fixed NavBar+SideBar</span>
											</label>
											<label>
												<input class="tc" id="sidebar-toggle" type="checkbox">
													<span id="#sidebar-toggle" class="labels"> Sidebar Toggle</span>
											</label>
											<label>
												<input class="tc" id="in-container" type="checkbox">
													<span id="#in-container" class="labels"> Inside<strong>.container</strong></span>
											</label>
										
											<div class="space-4"></div>
										</div>
										
										<span class="bigger-120">Color Options</span>
										
										<div class="hr hr-dotted hr-8"></div>
										
										<label>
											<input class="tc" id="side-bar-color" type="checkbox">
											<span id="#side-bar-color" class="labels"> SideBar (Light)</span>
										</label>
										
										<ul>									
											<li><button class="btn" style="background-color:#d15050;" onClick="swapStyle('assets/css/themes/style.css')"></button></li>
											<li><button class="btn" style="background-color:#86618f;" onClick="swapStyle('assets/css/themes/style-1.css')"></button></li> 
											<li><button class="btn" style="background-color:#ba5d32;" onClick="swapStyle('assets/css/themes/style-2.css')"></button></li>
											<li><button class="btn" style="background-color:#488075;" onClick="swapStyle('assets/css/themes/style-3.css')"></button></li>
											<li><button class="btn" style="background-color:#4e72c2;" onClick="swapStyle('assets/css/themes/style-4.css')"></button></li>
										</ul>
										
									</div>
								</div>
								<!-- /#ek-layout-button -->			
							</div><!-- /.col-lg-12 -->
						</div><!-- /.row -->
					<!-- END PAGE HEADING ROW -->					
						<div class="row" b-right>
							<div class="col-lg-12">
							
								<!-- START YOUR CONTENT HERE -->
								<script> console.log("vj")</script>
								
								<div class="row" ng-controller="PersonController">
									<div class="col-lg-6">
										<div class="portlet">
											<div class="portlet-heading dark">
												<div class="portlet-title">
													<h4>Booking Seat</h4>
												</div>
												<div class="portlet-widgets">
													<a data-toggle="collapse" data-parent="#accordion" href="#f-3">v</a>												</div>
												<div class="clearfix"></div>
											</div>
											<div id="f-3" class="panel-collapse collapse in">
												<div class="portlet-body">
													<form class="form-horizontal" role="form" name="bookingForm">
														<div class="form-group">
															<label class="col-sm-2 control-label">UID</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" id="uid" ng-model="bookingForm.uid" type="text" required>
															</div>
														</div><div class="form-group">
															<label class="col-sm-2 control-label">Name</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" id="name" ng-model="bookingForm.name" type="text" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Staff Name</label>
															<div class="col-sm-10">
																<input class="form-control" id="sname" ng-model="bookingForm.sname" type="text" required>
															</div>
														</div>
													
														<div class="form-group">
															<label class="col-sm-2 control-label">Amount</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" id="amount" ng-model="bookingForm.amount" type="text" required>
															</div>
														</div>
													
														<div class="form-group">
															<label class="col-sm-2 control-label">Agent Name</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" ng-model="bookingForm.agentName" id="agentName" type="text" required>
															</div>
														</div>
														<!--   <div class="form-group">
														<label class="col-sm-2 control-label">Campus</label>
															<div class="col-sm-10">
																<select class="form-control" ng-model="studentForm.campus">
																	<option selected="selected">Centurion University Bhubaneswar</option>
																	<option>Paraklekhmundi</option>
																</select>
															</div>
														</div>
														<div class="form-group">
														<label class="col-sm-2 control-label">Course</label>
															<div class="col-sm-10">
																<select class="form-control" ng-model="studentForm.course">
																	<option selected="selected">Btech</option>
																</select>
															</div>
														</div>
														<div class="form-group">
														<label class="col-sm-2 control-label">Branch</label>
															<div class="col-sm-10">
																<select class="form-control" ng-model="studentForm.branch">
																	<option selected="selected">CSE</option>
																</select>
															</div>
														</div>
														
														<div class="form-group">
															<label class="col-sm-2 control-label">Source Know</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" ng-model="studentForm.sourceKnow" type="text" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Qualification</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" ng-model="studentForm.qualification" type="text" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Status</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text"  ng-model="studentForm.status" type="text" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Last Assigned To</label>
															<div class="col-sm-10">
																<input class="form-control" placeholder="Text" ng-model="studentForm.lastAssigned" type="text" required>
															</div>
														</div>
														-->
									
														
														
														<div class="form-actions">
															<div class="form-group">
																<div class="col-sm-offset-2 col-sm-10">
																	<button type="submit" class="btn btn-primary" data-ng-click="bookSeat()" id="BookSeat">Submit</button>
																	<button type="submit" class="btn">Cancel</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END YOUR CONTENT HERE -->
							</div>
						</div>					
					
					<!-- BEGIN FOOTER CONTENT -->		
						<div class="footer">
							<div class="footer-inner">
								<!-- basics/footer -->
								<div class="footer-content">
									© 2015 <a href="#">GATHER</a>, All Rights Reserved.								</div>
								<!-- /basics/footer -->
							</div>
						</div>
						
					<!-- END FOOTER CONTENT -->
				</div><!-- /#page-wrapper -->	  
			<!-- END MAIN PAGE CONTENT -->
		</div>  
	</div> 
	 
    <!-- core JavaScript -->
    <script src="./js/jquery_002.js"></script>
    <script src="./res/res.js"></script>
	<script src="./js/jquery_004.js"></script>
	<script src="./js/pace.js"></script>

	<script src="./js/jquery.js"></script>		
	<script src="./js/angular.min.js"></script>
	<script src="./js/angular-resource.min.js"></script>
	 <script src="./js/app.js"></script>
</body></html>